/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

html, body {
    margin: 0;
    padding: 0;
    background-color: #F7E9D4;
}

.jumbotron {
    background-image: url('AutumnLeafBanner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.jumbotron h1 {
    color: #F7E9D4;
    margin: 0;
    padding: 0;
}

.table-hover > tbody > tr:hover {
  background-color: pink;
}

.table-bordered {
  border: 1px solid black;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 1px solid black;
}

/* Comments */

.form-group .form-control {
    width: 20%;
}

.form-group #usr {
    width: 10%;
}

.form-group #blog_post {
    width: 100%;
}

.form-group #comment {
    width: 50%;
}

.btn-primary:visited {
    color: #fff;
}

.btn-danger:visited {
    color: #fff;
}

/* Navbar */
nav.navbar.navbar-light {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    background-color: #FB9902;
    color: #343409;
}

nav.navbar.navbar-light a.navbar-brand {
    padding-left: 8px;
    padding-right: 8px;
    color: #343409;
    background-color: #FCCB1A;
    border: 1px solid #343409;
    border-radius: 5px;
}

nav.navbar.navbar-light a.navbar-brand:hover {
    padding-left: 8px;
    padding-right: 8px;
    color: #343409;
    background-color: #FCCB1A;
    border: 1px solid #343409;
    border-radius: 5px;
}

nav.navbar.navbar-light .right {
    margin-left: auto;
    padding: 10px;
}

nav.navbar.navbar-light .right * {
    margin-left: 5px;
    margin-right: 5px;
}

nav.navbar.navbar-light .left {
    margin-right: auto;
    margin-left: 10px;
}

a.navbar-brand {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.form-control::placeholder {
    color: #343409;
}

input.form-control.mr-sm-2 {
    border: 1px solid #343409;
}

/* Buttons */
/* btn-primary */
.btn-primary {
    color: #343409;
    background-color: #FEFE33;
    border-color: #343409;
}

.btn-primary:visited {
    color: #343409;
    background-color: #FEFE33;
    border-color: #343409;
}

.btn-primary:focus, .btn-primary.focus {
    color: #343409;
    background-color: #FEFE33;
    border-color: #343409;
}

.btn-primary:hover {
    color: #343409;
    background-color: #FEFE33;
    border-color: #343409;
    border-radius: 4px;
}

.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    color: #343409;
    background-color: #FEFE33;
    border-color: #343409;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
    color: #343409;
    background-color: #FEFE33;
    border-color: #343409;
}

/* btn-secondary */
.btn.btn-secondary {
    color: #343409;
    background-color: #FCCB1A;
    border-color: #343409;
}

.btn-secondary:visited {
    color: #343409;
    background-color: #FCCB1A;
    border-color: #343409;
}

.btn-secondary {
  color: #343409;
  background-color: #FCCB1A;
  border-color: #343409;
}

.btn-secondary:focus, .btn-secondary.focus {
  color: #343409;
  background-color: #FCCB1A;
  border-color: #343409;
}

.btn-secondary:hover {
  color: #343409;
  background-color: #FCCB1A;
  border-color: #343409;
  border-radius: 4px;
}

.btn-secondary:active, .btn-secondary.active, .open > .btn-secondary.dropdown-toggle {
  color: #343409;
  background-color: #FEFE33;
  border-color: #343409;
}

.btn-secondary:active:hover, .btn-secondary:active:focus, .btn-secondary:active.focus, .btn-secondary.active:hover, .btn-secondary.active:focus, .btn-secondary.active.focus, .open > .btn-secondary.dropdown-toggle:hover, .open > .btn-secondary.dropdown-toggle:focus, .open > .btn-secondary.dropdown-toggle.focus {
  color: #343409;
  background-color: #FEFE33;
  border-color: #343409;
}

/* btn-tertiary */
.btn.btn-tertiary {
    color: #343409;
    background-color: #FB9902;
    border-color: #343409;
}

.btn-tertiary:visited {
    color: #343409;
    background-color: #FB9902;
    border-color: #343409;
}

.btn-tertiary {
  color: #343409;
  background-color: #FB9902;
  border-color: #343409;
}

.btn-tertiary:focus, .btn-secondary.focus {
  color: #343409;
  background-color: #FB9902;
  border-color: #343409;
}

.btn-tertiary:hover {
  color: #343409;
  background-color: #FB9902;
  border-color: #343409;
  border-radius: 4px;
}

.btn-tertiary:active, .btn-tertiary.active, .open > .btn-tertiary.dropdown-toggle {
  color: #343409;
  background-color: #FB9902;
  border-color: #343409;
}

.btn-tertiary:active:hover, .btn-tertiary:active:focus, .btn-tertiary:active.focus, .btn-tertiary.active:hover, .btn-tertiary.active:focus, .btn-tertiary.active.focus, .open > .btn-tertiary.dropdown-toggle:hover, .open > .btn-tertiary.dropdown-toggle:focus, .open > .btn-tertiary.dropdown-toggle.focus {
  color: #343409;
  background-color: #FB9902;
  border-color: #343409;
}

/* Anchor */

a {
  color: #343409;
}

a:visited {
  color: #FB9902;
}

a:hover {
  color: #F7E9D4;
  background-color: #343409;
  border-radius: 2px;
}

/* Labels */
label h2 {
    color: #343409;
}

/* Input */
input {
    background-color: #FCCB1A;
    color: #343409;
    border: 1px solid #343409;
    border-radius: 2px;
}

input:hover {
    color: gray;
}

input:active {
    background-color: #FCCB1A;
    color: #343409;
    border: 1px solid #343409;
    border-radius: 2px;
}

/* Welcome */
.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome h2 {
    margin-top: 10px;
}

/* Post panels */
.panel-heading {
    display: flex;
    align-items: center;
    height: 70px;
}

.panel-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
}


.panel-group > .panel {
    margin-top: 5px;
    margin-bottom: 30px;
}

/* Panel Primary */
.panel-primary {
  border-color: #FCCB1A;
}

.panel-primary > .panel-heading {
  color: #343409;
  background-color: #FCCB1A;
  border-color: #FCCB1A;
}

.panel-primary > .panel-heading:hover {
  color: #343409;
  background-color: #FB9902;
  border-color: #FCCB1A;
}

.panel-primary > .panel-body {
  color: #343409;
  background-color: #F7E9D4;
  border-bottom: 1px solid #FCCB1A;
}

.panel-primary > .panel-footer {
  color: #343409;
  background-color: #F7E9D4;
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}

.panel-primary > .panel-heading .badge {
  color: #337ab7;
  background-color: #fff;
}

.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}

/* Panel Comments */
.panel-comments {
  border-color: #343409;
}

.panel-comments > .panel-heading {
  color: #343409;
  background-color: #FEFE33;
  border-color: #343409;
  border-bottom: 1px solid #343409;
}

.panel-comments > .panel-heading:hover {
  color: #343409;
  background-color: #FCCB1A;
  border-color: #343409;
}

.panel-comments > .panel-body {
  color: #343409;
  background-color: #F7E9D4;
  border-bottom: 1px solid #343409;
}

.panel-comments > .panel-footer {
  color: #343409;
  background-color: #F7E9D4;
}

.panel-comments > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}

.panel-comments > .panel-heading .badge {
  color: #337ab7;
  background-color: #fff;
}

.panel-comments > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}
